<div class="page-test">
    <div class="box-api-list">
        <div *ngFor="let api of this.apiList; let i = index;"
             class="box-api-info"
             (click)="HandleTestClick(api.id)">
            <div class="box-content">
                <p class="api-name">{{api.name}}</p>
                <p class="api-summary">{{api.summary}}</p>
            </div>
        </div>
    </div>
    <div class="box-task">
        <test-task #testTask></test-task>
        <test-task-new  #testTaskNew *ngIf="isAddShow" ></test-task-new>
        <md-button  *ngIf="!isAddShow" #testAddBtn [isFlat]="'true'" [text]="'新增'" (click)="HandleTestAddBtnClick()"></md-button>

    </div>
    <div class="box-result">
       <test-result #testResult></test-result>
    </div>
</div>