<div class="page-api-editor"  *ngIf="projectEditorService.isShow">
    <card>
        <div  class="box-api-editor-content">
            <div>
                <label >项目名称 : </label>
                <md-input [type]="'text'" #nameInput></md-input>
            </div>
            <div>
                <label >项目简介 : </label>
                <md-input [type]="'text'" #nameSummary></md-input>
            </div>
            <div>
                <label >项目根地址 : </label>
                <md-input [type]="'text'" #name></md-input>
            </div>
            <div class="t-r">
                <md-button [text]="'保存'"  [isFlat]="true"  (click)="OnSaveBtnClick()"></md-button>
                <md-button [text]="'取消'" [isFlat]="true" (click)="OnCancelBtnClick()"></md-button>
            </div>
        </div>
    </card>
</div>