<page class="page-login"
      (mousemove)="OnMouseMove($event)"
      (window:resize)="OnResize($event)"
      (mouseup)="OnMouseUp($event)">
    <div class="login-panel" [ngStyle]="{'top':top+'px','left':left+'px'}">
        <card>
            <div class="login-title" (mousedown)="OnMouseDown($event)">
                <p class="login-text" *ngIf="type==1">登录</p>
                <p class="login-text" *ngIf="type==2">注册</p>
            </div>
            <div class="login-content">
                <div>
                    <md-input #loginInput
                              [type]="'text'"
                              [icon]="'user'"
                              [placeholder]="'请输入账户'"
                    ></md-input>
                </div>
                <div>
                    <md-input #logigPassword
                              [type]="'password'"
                              [icon]="'key'"
                              [placeholder]="'密码'"
                    ></md-input>
                    <md-input #loginPassword2
                              *ngIf="type==2"
                              [type]="'password'"
                              [icon]="'key'"
                              [placeholder]="'重新输入密码'"
                    ></md-input>
                </div>
                <div *ngIf="type==1">
                    <md-button [text]="'登 录'" (click)="OnLoginBtnClick()" #login></md-button>
                    <md-button [text]="'注 册'" [isFlat]="true" (click)="typeToggle()" #register></md-button>
                </div>
                <div *ngIf="type==2">
                    <md-button [text]="'注册'" (click)="OnRegisterBtnClick()" #login></md-button>
                    <md-button [text]="'登录'" [isFlat]="true" (click)="typeToggle()" #register></md-button>
                </div>
            </div>
        </card>
    </div>
</page>
