
.box-top-nav {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 60px;
    padding-left: 60px;
    box-sizing: border-box;
    box-shadow: 0 3px 1px 1px rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

}

.box-content {
    padding-top: 60px;
    padding-left: 60px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: #eeeeee;
    height: 100%;
    overflow: hidden;

}

.box-left-menu {
    width: 60px;
    position: absolute;
    height: 100%;
    z-index: 999999;
    box-sizing: border-box;
    box-shadow: 0 3px 1px 4px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.box-menu-user{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-radius: 100%;
    position: absolute;
    background-image: url("../../../../public/img/img5.jpg");
    bottom: 10px;
    background-size: 100%;
}
.box-menu-item{
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}