<!--<div class="box-container">-->
<!--&lt;!&ndash;<div class="box-top-nav">&ndash;&gt;-->
<!--&lt;!&ndash;<top-nav>&ndash;&gt;-->

<!--&lt;!&ndash;</top-nav>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="box-content">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->

<page class="page-index">
    <div class="box-left-menu">
        <left-menu>
            <div class="box-menu-item">
                <i class="fa fa-user fa-2x"></i><br>
                项目
            </div>

            <div class="box-menu-user">

            </div>
        </left-menu>
    </div>
    <div class="box-top-nav">
        <top-nav></top-nav>
    </div>
    <div class="box-content">
        <router-outlet></router-outlet>
    </div>
</page>