<div class="page-api-editor" *ngIf="apiEditorService.isShow">
    <card>
        <div class="box-api-editor-content">
            <div>
                <label>API名称 : </label>
                <md-input [type]="'text'" [value]="apiEditorService.apiDetail.name"></md-input>
            </div>
            <div>
                <label>API简介 : </label>
                <md-input [type]="'text'" [value]="apiEditorService.apiDetail.summary"></md-input>
            </div>
            <div>
                <label>API方法 : </label>
                <md-input [type]="'text'" [value]="apiEditorService.apiDetail.method"></md-input>
            </div>
            <div>
                <label>API请求地址 : </label>
                <md-input [type]="'text'" [value]="apiEditorService.apiDetail.url"></md-input>

            </div>
            <div>
                <api-param #apiParam [param]="apiEditorService.apiDetail.param"></api-param>
            </div>
            <div>
                <api-response #apiResponse></api-response>
            </div>
            <div>
                <label>API备注 : </label>
                <md-textarea>

                </md-textarea>
            </div>
            <div class="t-r">
                <md-button [text]="'保存'" [isFlat]="true" (click)="HandleSaveBtnClick()"></md-button>
                <md-button [text]="'取消'" [isFlat]="true" (click)="HandleCancelBtnClick()"></md-button>
            </div>
        </div>
    </card>
</div>