<div class="page-project">
    <div class="box-project-group">
        <h2 class="group-title">我的项目 <i class="fa  fa-plus"></i></h2>
        <div class="box-project"(click)="OnProjectClick()">
            <project-item >
            </project-item>
        </div>
        <div class="box-project">
            <project-item >
            </project-item>
        </div>
        <div class="box-project">
            <project-item >
            </project-item>
        </div>
        <div class="box-project">
            <project-item >
            </project-item>
        </div>
    </div>

    <div class="box-project-group">
        <h2 class="group-title">我参与的项目</h2>
        <div class="box-project">
            <project-item >
            </project-item>
        </div>
        <div class="box-project">
            <project-item >
            </project-item>
        </div>
        <div class="box-project">
            <project-item >
            </project-item>
        </div>
        <div class="box-project">
            <project-item >
            </project-item>
        </div>
    </div>
</div>